<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DBProviderSection" type="BACnetGenericDatabaseAccess.Database.Config.ConfigFileAccess.DBSection, BACnetGenericDatabaseAccess" />
  </configSections>
  <DBProviderSection>
    <DatabaseConnectionsStrings>
      <add name="Connection1" isSubscriber="true" databaseClassName="MySql" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Uid=test;Pwd=test;Database=test;" />
      <add name="HTW Connection" isSubscriber="false" databaseClassName="MySql" providerName="MySql.Data.MySqlClient" connectionString="server=mysql.rz.htw-berlin.de;user=heatmap2;database=heatmap2;port=3306;password=oLaiV5su;" />

    </DatabaseConnectionsStrings>
  </DBProviderSection>
  <system.web>
    <compilation debug="false" targetFramework="4.5"/>
  </system.web>
</configuration>